*
{
    margin: 0;
}
body
{
    background: rgb(212, 195, 153);
    
}
.header
{
    height: 80px;
    width: 100%;
    display: flex;
}
.logo
{
    height: 100px;
    width: 10%;
}
.logo img
{
    height: 80px;
    width: 100%;
}
.name
{
    height: inherit;
    width: 90%;
    color: brown;
    text-align: center;
    font-size: 30px;
    background-color: cadetblue;
    line-height: 80px;
}
.nav
{
    height: auto;
    width: 100%;
    display: flex;
}
.nav ul
{
    height: 40%;
    width: 100%;
    background-color: aquamarine;
}
.nav li
{
    list-style: none;
    float: left;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: bold;
}
li :hover
{
    color: rgb(111, 34, 19);
}
li a
{
    text-decoration: none;
    color: black;
}
.main
{
    height: 800px;
    width: 100%;
    display: flex;
}
.leftpane
{
    height: 800px;
    width: 20%;
    display: flex;
}
.leftpane ul
{
    height: 800px;
    width: 100%;
    background-color: darkgrey;
}
.leftpane li
{
    list-style: none;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
}
.content
{
    height: 850px;
    width: 80%;
}
.gallery
{
    display: flex;
    padding: 30px 20px;
}
.a1
{
    height: 250px;
    width: 80%;
    margin-top: 10px;
}
.a1 img
{
    height: 200px;
    width: 150px;
    margin-top: 10px;
}
.a1 img:hover
{
    filter: brightness(50%);
}
.a2
{
    height: 250px;
    width: 80%;
    margin-top: 10px;
}
.a2 img
{
    height: 200px;
    width: 150px;
    margin-top: 10px;
}
.a2 img:hover
{
    filter: brightness(50%);
}
.a3
{
    height: 250px;
    width: 80%;
    margin-top: 10px;
}
.a3 img
{
    height: 200px;
    width: 150px;
    margin-top: 10px;
}
.a3 img:hover
{
    filter: brightness(50%);
}
.a4
{
    height: 250px;
    width: 80%;
    margin-top: 10px;
}
.a4 img
{
    height: 200px;
    width: 150px;
    margin-top: 10px;
}
.a4 img:hover
{
    filter: brightness(50%);
}
.product
{
    display: flex;
    padding: 30px 20px;
}
.footer
{
    height: 300px;
    width: 100%;
    font-size: 20px;
    background-color: cadetblue;
    text-decoration: none;
}
.f1
{
    height: 250px;
    width: 80%;
    line-height: 50px;
    
}
.s1
{
    text-align-last: right;
}
.s2
{
    text-align-last: center;
    font-size: 20px;
    word-spacing: 10px;
}
